@charset "UTF-8";

/* configurações gerais */

*{
    margin: 0px; 
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    width: 100vw;
}
h1{
    color: white;
    text-shadow: 2px 2px 2px rgb(9, 9, 179);
}